{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<h2>This is about us page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad consequatur cupiditate dolorem earum esse excepturi exercitationem impedit, molestias natus nihil nisi numquam perferendis quibusdam repudiandae similique soluta voluptate voluptates.</p>


</body>
</html>